.flex-container {
    display: flex;
    flex-direction: column-reverse;
    flex-flow: row wrap;
}
.nav-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}